#navbar {
  background-color: white;
  max-height: 65px;
  display: flex;
  flex-direction: row;  /* Explicitly set to row */
  align-items: center;  /* This should vertically center items in a row-based flex container */
  justify-content: space-between; /* If you want the logos to be on one side and the links on the other */
}



#link {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.last-link {
  padding-right: 40px;
}
