#persona-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #333;
  text-align: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #555;
  text-align: center;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #444;
  text-align: center;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  padding: 0 150px;
}

.highlighted-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: #444;
  padding-left: 150px;
  line-height: 1.5;
}

