#project-container {
  font-family: "Montserrat";
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#title {
  font-weight: bolder;
  text-align: center;
  align-content: center;
}

#secondary-title {
  font-weight: bold;
  text-align: center;
  align-content: center;
}

#paragraph {
  font-weight: 100;
  margin-left: 100px;
  margin-right: 100px;
}

#text {
  font-family: "Montserrat";
}

#persona-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
